<p>Botones</p>
<button mat-button (click)="hola()">Prueba</button>
<button mat-button color="primary">Prueba</button>
<button mat-button color="accent">Prueba</button>
<button mat-button color="warn">Prueba</button>
<br>
<button mat-raised-button>Prueba</button>
<button mat-raised-button color="primary">
    <mat-icon>favorite</mat-icon>
</button>
<button mat-raised-button color="accent">Prueba</button>
<button mat-raised-button color="warn">Prueba</button>
<br>
<button mat-flat-button>Prueba</button>
<button mat-flat-button color="primary">Prueba</button>
<button mat-flat-button color="accent">Prueba</button>
<button mat-flat-button color="warn">Prueba</button>
<br>
<button mat-stroked-button>Prueba</button>
<button mat-stroked-button color="primary">Prueba</button>
<button mat-stroked-button color="accent">Prueba</button>
<button mat-stroked-button color="warn">Prueba</button>
<hr>
<p>Cards</p>
<mat-card style="width: 30%;">
    <mat-card-title>Clase de Angular</mat-card-title>
    <mat-card-subtitle>Comision 32310</mat-card-subtitle>
    <mat-card-content>Este es un card de la clase de Angular en la cual estamos viendo Angular Material</mat-card-content>
    <mat-card-actions align="end">
        <button mat-button>Me gusta</button>
        <button mat-flat-button color="primary">Compartir</button>
    </mat-card-actions>
</mat-card>
<hr>
<p>Icons</p>
<mat-icon>home</mat-icon>
<mat-icon>search</mat-icon>
<mat-icon>person</mat-icon>

<button mat-icon-button color="primary">
    <mat-icon>favorite</mat-icon>
</button>
<hr>
<p>Inputs</p>

<mat-form-field appearance="legacy">
    <mat-label>Input Legacy</mat-label>
    <input type="text" placeholder="Abner" matInput>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Input Fill</mat-label>
    <input type="text" placeholder="Abner" matInput>
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Input Outline</mat-label>
    <input type="text" placeholder="Abner" matInput>
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>Input Standard</mat-label>
    <input type="text" placeholder="Abner" matInput>
</mat-form-field>