<h1 mat-dialog-title>Editar curso</h1>
<div mat-dialog-content>
    <form [formGroup]="formulario">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Comisión</mat-label>
            <input formControlName="comision" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Profesor</mat-label>
            <input formControlName="profesor" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Número de estudiantes</mat-label>
            <input formControlName="numeroEstudiantes" matInput>
        </mat-form-field>

        <mat-slide-toggle formControlName="matriculaAbierta">Matrícula abierta</mat-slide-toggle>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cerrar()">Cerrar</button>
    <button mat-button (click)="actualizar()">Actualizar</button>
</div>