<h4>Nuevo curso</h4>
<hr>

<form [formGroup]="formulario" (ngSubmit)="agregarCurso()">
    <mat-form-field>
        <mat-label>Nombre del curso</mat-label>
        <input type="text" matInput formControlName="nombre">
    </mat-form-field> <br>
    <mat-form-field>
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio">
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
    </mat-form-field> <br>
    <mat-form-field>
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin">
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
    </mat-form-field> <br>
    <mat-form-field>
        <mat-label>Nombre del profesor</mat-label>
        <input type="text" matInput formControlName="profesor">
    </mat-form-field> <br>

    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Agregar</button>
</form>