<h4>Login</h4>
<form [formGroup]="formulario" (ngSubmit)="login()">
    <input type="text" placeholder="Nombre de usuario" formControlName="usuario"> <br>
    <input type="password" placeholder="Contraseña" formControlName="contrasena"> <br>
    <input type="checkbox" formControlName="admin"> Admin <br>
    <input type="checkbox" formControlName="canActivateChild"> Can Activate Child <br>
    <input type="checkbox" formControlName="canLoad"> Can Load <br>
    <input type="checkbox" formControlName="canDeactivate"> Can Deactivate <br>
    <button type="submit">Login</button>
</form>